body {
  background-color: #18181a;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
body .cover {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}