@charset "UTF-8";
@font-face {
  font-family: "hack-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/hack-regular.woff2") format("woff2"), url("../assets/hack-regular.woff") format("woff");
}

:root{
  --base-px: 16; /* 1rem in px */
  --min-px: 32;
  --max-px: 120;
  --min-rem: calc(var(--min-px) / var(--base-px) * 1rem); /* 2rem */
  --max-rem: calc(var(--max-px) / var(--base-px) * 1rem); /* 7.5rem */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.page {
  font-size: 1rem;
  font-family: "hack-regular", Courier New, sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}

.light-mode .page {
  background-color: #fafafa;
  color: #18181a;
}

.dark-mode .page {
  background-color: #18181a;
  color: #fafafa;
}

h1 { font-size: clamp(var(--min-rem), calc(1.5rem + 3.5vw), var(--max-rem)); }

.icons {
  display: flex;
}

.icon img {
  border-radius: 50%;
}
