<div id="menu">
    <div id="burger" class="menu btn1" data-menu="1">
        <div class="icon-left"></div>
        <div class="icon-right"></div>
    </div>
    <nav class="nav" id="nav">
        <ul>
            <li><a href="#">Art</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Stork</a></li>
        </ul>
    </nav>
    <div class="menu-bg" id="menu-bg"></div>
</div>
