@keyframes glow {
    0% {
        opacity: 0.086;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wiggleX {
    0% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(2px);
    }
}

@keyframes wiggleY {
    0% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(2px);
    }
}

@keyframes wiggleXY {
    0% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(-2px, 2px);
    }
}
