@keyframes pulse-live {
    0% {
        text-shadow: rgba(red, 0.3) 1px 0 10px;
    }

    50% {
        text-shadow: rgba(green, 0.5) 1px 0 10px;
    }

    100% {
        text-shadow: rgba(pink, 0.7) 1px 0 10px;
    }
}

@keyframes pulse-live-white {
    0% {
        text-shadow: rgba($color-white, 0.7) 0 0 0;
    }

    50% {
        text-shadow: rgba($color-white, 0) 1px 0 10px;
    }

    100% {
        text-shadow: rgba($color-white, 0) 0 0 0;
    }
}

@keyframes pulse-live-highlight {
    0% {
        text-shadow: rgba($highlight-color, 0.7) 0 0 0;
    }

    50% {
        text-shadow: rgba($highlight-color, 0) 1px 0 10px;
    }

    100% {
        text-shadow: rgba($highlight-color, 0) 0 0 0;
    }
}

@keyframes pulse-live-blue {
    0% {
        text-shadow: rgba($zueriblau, 0.7) 0 0 0;
    }

    50% {
        text-shadow: rgba($zueriblau, 0) 1px 0 10px;
    }

    100% {
        text-shadow: rgba($zueriblau, 0) 0 0 0;
    }
}