@mixin text-hide {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    text-shadow: none;
}

@mixin text-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin text-hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}