/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}

.color-mode {
    @include fluid-calc('top', (to-rem(26px), to-rem(34px)));
    @include fluid-calc('right', (to-rem(10px), to-rem(34px)));

    position: fixed;

    &__btn {
        cursor: pointer;

        html[color-mode="dark"] & {
            opacity: 0.4;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    svg {
        @include fluid-calc('width', (to-rem(32px), to-rem(64px)));

        height: auto;
        color: $color-white;

        html[color-mode="light"] & {
            color: $text-color;
        }
    }
}

