.btn1 {
    position: relative;
    z-index: 999;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0px;
    transition-duration: 0.5s;
}
.btn1 .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    background-color: #212121;
    left: 0px;
}
.btn1 .icon-left:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}
.btn1 .icon-left:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}
.btn1 .icon-left:hover {
    cursor: pointer;
}
.btn1 .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    background-color: #212121;
    left: 30px;
}
.btn1 .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}
.btn1 .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}
.btn1.open .icon-left {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.btn1.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.btn1.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.btn1.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.btn1:hover {
    cursor: pointer;
}



//@import "compass/css3";
//
//$dark: #212121;
//$light: #efefef;
//$color: #b3e5fc;
//
//@mixin btn($left, $top) {
//    position: absolute;
//    width: 60px;
//    height: 60px;
//    top: $top;
//    left: $left;
//    transition-duration: 0.5s;
//}
//
//@mixin icon($height, $width) {
//    transition-duration: 0.5s;
//    position: absolute;
//    height: $height;
//    width: $width;
//    top: 30px;
//    background-color: $dark;
//}
//
//@mixin icon-before($height, $width, $top) {
//    transition-duration: 0.5s;
//    position: absolute;
//    width: $width;
//    height: $height;
//    background-color: $dark;
//    content: "";
//    top: $top;
//}
//
//@mixin icon-after($height, $width, $top) {
//    transition-duration: 0.5s;
//    position: absolute;
//    width: $width;
//    height: $height;
//    background-color: $dark;
//    content: "";
//    top: $top;
//}
//
//@mixin icon-circle($height, $width) {
//    transition-duration: 0.5s;
//    position: absolute;
//    height: $height;
//    width: $width;
//    top: 2px;
//    border-radius: 100%;
//    background: transparent;
//    border: 4px solid black;
//    left: -15px;
//}
//
//.hamburger {
//    .btn1{
//        @include btn(0px, 100px);
//
//        .icon-left {
//            @include icon(8px, 30px);
//            left: 0px;
//
//            &:before{
//                @include icon-before(8px, 30px, -20px);
//            }
//
//            &:after{
//                @include icon-after(8px, 30px, 20px);
//            }
//
//            &:hover{
//                cursor: pointer;
//            }
//        }
//
//        .icon-right {
//            @include icon(8px, 30px);
//            left: 30px;
//
//            &:before{
//                @include icon-before(8px, 30px, -20px);
//            }
//
//            &:after{
//                @include icon-after(8px, 30px, 20px);
//            }
//        }
//
//        &.open {
//            .icon-left {
//                transition-duration: 0.5s;
//                background: transparent;
//
//                &:before{
//                    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
//                }
//
//                &:after{
//                    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
//                }
//            }
//
//            .icon-right {
//                transition-duration: 0.5s;
//                background: transparent;
//
//                &:before{
//                    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
//                }
//
//                &:after{
//                    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
//                }
//            }
//        }
//        &:hover {
//            cursor: pointer;
//        }
//    }
//}
