.header {
    &__inner {
        display: flex;
        justify-content: center;
        padding: to-rem(20px) 0;

        .logo {
            @include fluid-calc('font-size', (to-rem(60px), to-rem(120px)));

            display: inline-block;
            padding: to-rem(5px) to-rem(10px);
            //font-size: to-rem(80px);
            font-weight: 500;
            font-style: normal;
            line-height: 1;
            text-align: center;
            color: $global-bg;
            text-shadow: $highlight-color 1px 0 5px;
            transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

            &:not(:hover) {
                //animation: pulse-live-white 2s infinite;
            }

            &:hover {
                color: $zueriblau;
                //animation: pulse-live-highlight 2s infinite;
                //text-shadow: $color-white 1px 0 10px;

                text-shadow: $color-white 1px 0 5px;
            }
        }
    }
}
