.header {
    &__inner {
        display: flex;
        justify-content: center;

        .logo {
            display: inline-block;
            padding: to-rem(15px);
            font-size: to-rem(80px);
            font-weight: 500;
            font-style: normal;
            text-align: center;
            color: $color-white;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $zueriblau;
                text-shadow: $color-white 1px 0 10px;
            }
        }
    }
}
