.logo {
    @include fluid-calc('font-size', (to-rem(50px), to-rem(120px)));

    display: inline-block;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

    html.dark-mode & {
        text-shadow: $highlight-color 1px 0 6px;
        color: $global-bg-dark;

        &:hover {
            text-shadow: $color-white 1px 0 6px;
            color: $global-bg-dark;
        }
    }

    html.light-mode & {
        text-shadow: $global-bg-dark 1px 0 6px;
        color: $global-bg-dark;

        &:hover {
            text-shadow: $global-bg-dark 1px 0 6px;
            color: $global-bg-dark;
        }
    }
}
