// Gap
$gaps: (
    g-oh: (
        min: 0px,
        max: 0px
    ),
    g-sm: (
        min: 15px,
        max: 75px
    ),
    g-md: (
        min: 30px,
        max: 150px
    ),
    g-lg: (
        min: 75px,
        max: 250px
    )
);
