<!doctype html>
<html lang="de" class="dark-mode">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="“robots“" content="“noindex,nofollow“"/>
        <title>{{ page_title }}</title>
        <link rel="icon" type="image/x-icon" href="/Images/icons/favicon/favicon.ico">
        <link rel="stylesheet" href="css/vendors/modern-normalize.css">
        <link rel="stylesheet" href="css/main.css">
		{% block styles %}{% endblock %}
	</head>
	<body class="page{% if page_modifier %} page--{{ page_modifier }}{% endif %}">

        {% include "../organism/header.twig" %}

		<main class="main">
            {% block main %}{% endblock %}
        </main>

        {% include "../organism/footer.twig" %}

        {% block scripts %}{% endblock %}
        <script src="js/main.js"></script>
    </body>
</html>
