<div class="color-mode">
    {# Light mode button #}
    <button class="color-mode__btn light--hidden" aria-label="Toggle light mode">
        <span class="sr-only">Toggle Light Mode</span>
        {{ source('../assets/icons/lightbulb-on-light.svg') }}
    </button>
    {# Dark mode button #}
    <button class="color-mode__btn dark--hidden" aria-label="Toggle dark mode">
        <span class="sr-only">Toggle Dark Mode</span>
        {{ source('../assets/icons/lightbulb-off-light.svg') }}
    </button>
</div>
