#{$headings} {
    margin-top: $headings-spacing * 2;
    margin-bottom: $headings-spacing;
    font-family: $font-family-secondary;
    line-height: $headings-line-height;

    &:first-child {
        margin-top: 0;
    }

    @if $spacing-reset {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: normal;
}

h1 {
    @include fluid-calc('font-size', (to-rem(22px), to-rem(43px)));
}

h2 {
    @include fluid-calc('font-size', (to-rem(24px), to-rem(36px)));
}

h3 {
    @include fluid-calc('font-size', (to-rem(20px), to-rem(28px)));
}

h4 {
    @include fluid-calc('font-size', (to-rem(16px), to-rem(20px)));
}