ul {
    @include list-unstyled();
}

ul:not([class]) {
    .c-richtext & {
        padding-left: to-rem(30px);

        li {
            position: relative;

            &:not(:last-child) {
                @include fluid-calc('margin-bottom', (to-rem(10px), to-rem(20px)));
            }

            &::before {
                content: '';
                position: absolute;
                left: to-rem(-30px);
                display: inline-block;
                width: to-rem(10px);
                height: to-rem(10px);
                margin-top: to-rem(6px);
                background-image: url(get-icon('list', $text-color));
                background-repeat: no-repeat;
                background-size: contain;

                .l-section--primary & {
                    background-image: url(get-icon('list', $color-white));
                }
                @include mq(md) {
                    margin-top: to-rem(8px);
                }

                @include mq(lg) {
                    margin-top: to-rem(10px);
                }
            }
        }
    }
}
