<button class="burger js-open-panel" aria-expanded="false" data-panel="#navigation">
    <span class="inner">
        <span class="bar"></span>
        <span class="bar"></span>
    </span>
    <span class="sr-only">Menu</span>
</button>
