{#<a class="logo" href="/" target="_self">#}
{#    <span>brulabs</span>#}
{#</a>#}

<button id="logo" class="logo" aria-label="Toggle light/dark mode">
    <span>brulabs</span>
</button>

<div class="logo-grid">
    {% for i in 0..53 %}
        <div class="logo-grid-item"></div>
    {% endfor %}
</div>