@use "../tools/functions/to-rem" as *;
@use "../tools/mixins/container" as *;
@use "../settings/breakpoints" as *;

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: to-rem(15px);
    padding-left: to-rem(15px);

    &--small {
        @include container($width: map-get($breakpoints, lg));
    }

    &--medium {
        @include container($width: map-get($breakpoints, xxl));
    }
}
