@use "../tools/mixins/row" as *;

.l-row {
    @include row;

    &--no-gutter {
        margin-left: 0;
        margin-right: 0;

        > .l-col {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
