@use "sass:math";

@use "../tools/functions/to-rem" as *;
@use "../tools/mixins/fluid-calc" as *;
@use "../settings/breakpoints" as *;
@use "../settings/colors" as *;
@use "../settings/gaps" as *;

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--default {
        //background-color: $default-color;
        background-color: transparent;
    }

    &--primary {
        background-color: $primary-color;
    }

    &--secondary {
        background-color: $secondary-color;
    }

    &--tertiary {
        background-color: $tertiary-color;
    }

    @each $lat, $breakpoint in $breakpoints {
        &[data-container*="#{$lat}"] {
            > * {
                width: 100%;
                max-width: to-rem(map-get($breakpoints, #{$lat}));
            }
        }
    }

    @each $gap, $gap-mq in $gaps {
        &[data-gap-top*="#{$gap}"] {
            @include fluid-calc('padding-top', (to-rem(map-get($gap-mq, min)), to-rem(map-get($gap-mq, max))));
        }

        &[data-gap-bottom*="#{$gap}"] {
            @include fluid-calc('padding-bottom', (to-rem(map-get($gap-mq, min)), to-rem(map-get($gap-mq, max))));
        }
    }

    //@each $gap, $gap-mq in $gaps {
    //    &[data-styles*="╧-#{$gap}"] {
    //        @include fluid-calc('padding-top', (to-rem(#{map-get($gap-mq, min)}), to-rem(#{map-get($gap-mq, max)})));
    //    }
    //
    //    &[data-styles*="╤-#{$gap}"] {
    //        @include fluid-calc('padding-bottom', (to-rem(#{map-get($gap-mq, min)}), to-rem(#{map-get($gap-mq, max)})));
    //    }
    //}
}
