@use "../../../settings/grid" as *;
@use "sass:math";

@mixin column-block($columns: $grid-columns) {
    width: percentage(math.div(1, $columns));

    &:nth-of-type(1n) {
        clear: none;
    }

    &:nth-child(#{$columns}n+1) {
        clear: both;
    }
}
