// Basic colors
$color-black: #000;
$color-blue: #00f;
$color-cyan: #0ff;
$color-green: #0f0;
$color-gray: #808080;
$color-magenta: #f0f;
$color-orange: #ff681f;
$color-red: #f00;
$color-yellow: #ff0;
$color-white: #fff;

// Project colors
$color-alabaster: #fafafa;
$color-ultramarine: #0f05a0; // Züriblau
$color-woodsmoke: #18181a;
$color-teak: #af9862;

// Global & section color variables
$global-bg-dark: $color-woodsmoke;
$global-bg-bright: $color-alabaster;
$default-color: $color-white;
$primary-color: $default-color;
$secondary-color: $default-color;
$tertiary-color: $default-color;

// State color variables
$error-color: $color-red;
$info-color: $color-blue;
$success-color: $color-green;
$warning-color: $color-orange;

// Other color variables
$highlight-color: $color-teak;
$logo-color: $color-cyan;
$icon-color: $color-black;
$link-color: $color-black;
$text-color: $color-black;
$zueriblau: $color-ultramarine;
