$gaps: (
    zero: (
        xs: 0,
        lg: 0
    ),
    small: (
        xs: 25px,
        lg: 50px
    ),
    medium: (
        xs: 50px,
        lg: 75px
    ),
    large: (
        xs: 75px,
        lg: 100px
    ),
);
