$gaps: (
    zero: (
        min: 0,
        max: 0
    ),
    small: (
        min: 25px,
        max: 50px
    ),
    medium: (
        min: 50px,
        max: 75px
    ),
    large: (
        min: 75px,
        max: 100px
    ),
);
