// Override delicious-hamburgers
$hamburger-class-name: 'c-hamburger';
$hamburger-active-class-name: 'is-active';
$hamburger-thickness: 2px;
$hamburger-bar-spacing: 6px;
$hamburger-border-radius: 2px;
$hamburger-color: $text-color;
$hamburger-size: 30px;
$hamburger-padding: 10px;
$hamburger-animations: (
    'magnetic'
);

.c-hamburger {
    color: green;
}