// Typography - https://www.w3schools.com/csSref/css_websafe_fonts.php
$font-family-base: 'ibm-plex-sans', Courier New, sans-serif;
$font-family-secondary: $font-family-base;
$font-weight-base: normal;
$line-height-base: 1.4;
