@use "../tools/functions/to-rem" as *;
@use "../tools/mixins/button/button-unstyled" as *;
@use "../tools/mixins/fluid-calc" as *;
@use "../settings/breakpoints" as *;
@use "../settings/colors" as *;

.logo {
    @include button-unstyled;

    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    max-width: map-get($breakpoints, md);
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

    &-pixel {
        aspect-ratio: 1/1;

        &:not(:nth-child(32)):not(:nth-child(47)):not(:nth-child(53)) {
            background-color: $logo-color;

            html.light-mode & {
                background-color: $text-color;
            }
        }

        // Letter b
        &:nth-child(1) {
            grid-column-start: 1;
            grid-row-start: 1;
        }

        &:nth-child(2) {
            grid-column-start: 1;
            grid-row-start: 2;
        }

        &:nth-child(3) {
            grid-column-start: 1;
            grid-row-start: 3;
        }

        &:nth-child(4) {
            grid-column-start: 1;
            grid-row-start: 4;
        }

        &:nth-child(5) {
            grid-column-start: 1;
            grid-row-start: 5;
        }

        &:nth-child(6) {
            grid-column-start: 2;
            grid-row-start: 3;
        }

        &:nth-child(7) {
            grid-column-start: 2;
            grid-row-start: 5;
        }

        &:nth-child(8) {
            grid-column-start: 3;
            grid-row-start: 3;
        }

        &:nth-child(9) {
            grid-column-start: 3;
            grid-row-start: 4;
        }

        &:nth-child(10) {
            grid-column-start: 3;
            grid-row-start: 5;
        }

        // Letter r
        &:nth-child(11) {
            grid-column-start: 5;
            grid-row-start: 3;
        }

        &:nth-child(12) {
            grid-column-start: 5;
            grid-row-start: 4;
        }

        &:nth-child(13) {
            grid-column-start: 5;
            grid-row-start: 5;
        }

        &:nth-child(14) {
            grid-column-start: 6;
            grid-row-start: 3;
        }

        // Letter u
        &:nth-child(15) {
            grid-column-start: 8;
            grid-row-start: 3;
        }

        &:nth-child(16) {
            grid-column-start: 8;
            grid-row-start: 4;
        }

        &:nth-child(17) {
            grid-column-start: 8;
            grid-row-start: 5;
        }

        &:nth-child(18) {
            grid-column-start: 9;
            grid-row-start: 5;
        }

        &:nth-child(19) {
            grid-column-start: 10;
            grid-row-start: 3;
        }

        &:nth-child(20) {
            grid-column-start: 10;
            grid-row-start: 4;
        }

        &:nth-child(21) {
            grid-column-start: 10;
            grid-row-start: 5;
        }

        // Letter l
        &:nth-child(22) {
            grid-column-start: 12;
            grid-row-start: 1;
        }

        &:nth-child(23) {
            grid-column-start: 12;
            grid-row-start: 2;
        }

        &:nth-child(24) {
            grid-column-start: 12;
            grid-row-start: 3;
        }

        &:nth-child(25) {
            grid-column-start: 12;
            grid-row-start: 4;
        }

        &:nth-child(26) {
            grid-column-start: 12;
            grid-row-start: 5;
        }

        &:nth-child(27) {
            grid-column-start: 13;
            grid-row-start: 5;
        }

        // Letter a
        &:nth-child(28) {
            grid-column-start: 15;
            grid-row-start: 3;
        }

        &:nth-child(29) {
            grid-column-start: 15;
            grid-row-start: 4;
        }

        &:nth-child(30) {
            grid-column-start: 15;
            grid-row-start: 5;
        }

        &:nth-child(31) {
            grid-column-start: 16;
            grid-row-start: 3;
        }

        &:nth-child(32) {
            grid-column-start: 16;
            grid-row-start: 5;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                aspect-ratio: 1/1;
                background-color: $logo-color;
                clip-path: polygon(0 0, 0 100%, 100% 0);

                html.light-mode & {
                    background-color: $text-color;
                }
            }
        }

        &:nth-child(33) {
            grid-column-start: 17;
            grid-row-start: 3;
        }

        &:nth-child(34) {
            grid-column-start: 17;
            grid-row-start: 4;
        }

        &:nth-child(35) {
            grid-column-start: 17;
            grid-row-start: 5;
        }

        // Letter b (again)
        &:nth-child(36) {
            grid-column-start: 19;
            grid-row-start: 1;
        }

        &:nth-child(37) {
            grid-column-start: 19;
            grid-row-start: 2;
        }

        &:nth-child(38) {
            grid-column-start: 19;
            grid-row-start: 3;
        }

        &:nth-child(39) {
            grid-column-start: 19;
            grid-row-start: 4;
        }

        &:nth-child(40) {
            grid-column-start: 19;
            grid-row-start: 5;
        }

        &:nth-child(41) {
            grid-column-start: 20;
            grid-row-start: 3;
        }

        &:nth-child(42) {
            grid-column-start: 20;
            grid-row-start: 5;
        }

        &:nth-child(43) {
            grid-column-start: 21;
            grid-row-start: 3;
        }

        &:nth-child(44) {
            grid-column-start: 21;
            grid-row-start: 4;
        }

        &:nth-child(45) {
            grid-column-start: 21;
            grid-row-start: 5;
        }

        // Letter s
        &:nth-child(46) {
            grid-column-start: 23;
            grid-row-start: 3;
        }

        &:nth-child(47) {
            grid-column-start: 23;
            grid-row-start: 4;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                aspect-ratio: 1/1;
                background-color: $logo-color;
                clip-path: polygon(0 0, 100% 0, 100% 100%);

                html.light-mode & {
                    background-color: $text-color;
                }
            }
        }

        &:nth-child(48) {
            grid-column-start: 23;
            grid-row-start: 5;
        }

        &:nth-child(49) {
            grid-column-start: 24;
            grid-row-start: 3;
        }

        &:nth-child(50) {
            grid-column-start: 24;
            grid-row-start: 4;
        }

        &:nth-child(51) {
            grid-column-start: 24;
            grid-row-start: 5;
        }

        &:nth-child(52) {
            grid-column-start: 25;
            grid-row-start: 3;
        }

        &:nth-child(53) {
            grid-column-start: 25;
            grid-row-start: 4;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                aspect-ratio: 1/1;
                background-color: $logo-color;
                clip-path: polygon(0 0, 0 100%, 100% 100%);

                html.light-mode & {
                    background-color: $text-color;
                }
            }
        }

        &:nth-child(54) {
            grid-column-start: 25;
            grid-row-start: 5;
        }
    }
}



//.logo {
//    @include button-unstyled;
//    @include fluid-calc('font-size', (to-rem(50px), to-rem(120px)));
//
//    position: relative;
//    display: inline-block;
//    font-weight: 500;
//    font-style: normal;
//    line-height: 1;
//    cursor: pointer;
//
//    &::before {
//        //content: '';
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        z-index: -1;
//        display: block;
//        width: 70%;
//        height: 0;
//        transform: translateX(-50%);
//        animation: pulse 2s infinite;
//        overflow: hidden;
//    }
//
//    html.dark-mode & {
//        text-shadow: $color-white 1px 0 6px;
//        color: $global-bg-dark;
//
//        &:hover {
//            text-shadow: $color-white 1px 0 6px;
//            color: $global-bg-dark;
//        }
//    }
//
//    html.light-mode & {
//        text-shadow: $global-bg-dark 1px 0 6px;
//        color: $color-white;
//
//        &:hover {
//            text-shadow: $global-bg-dark 1px 0 6px;
//            color: $color-white;
//        }
//    }
//}

//@keyframes pulse {
//    0% {
//        box-shadow: 0 0 0 0 rgba(black, 0.7);
//    }
//
//    50% {
//        box-shadow: 0 0 0 0.8em rgba(black, 0);
//    }
//
//    100% {
//        box-shadow: 0 0 0 0 rgba(black, 0);
//    }
//}
