<nav id="navigation" class="navigation" aria-hidden="true">

        <ul>
            <li><a href="#">Art</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Stork</a></li>
        </ul>
    <div class="menu-bg" id="menu-bg"></div>
</nav>
